* {
  margin: 0;
}
body {
  background-color: rgb(141, 169, 182);
}
h1 {
  color: rgb(238, 232, 232);
}
.nav {
  margin-left: auto;
  position: absolute;
  right: 0px;
}
.nav-item {
  background-color: rgb(163, 167, 206);
  color: goldenrod;
}
.nav-link {
  color: black;
}
div#logo1 {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.card {
  display: inline-block;
}
form#form {
  margin: 65px;
  margin-left: -475;
}
div#logo1 {
  background-color: rgb(158, 101, 101);
}
div#logo1 div.nav nav.navbar.navbar-expend-lg {
  font-size: larger;
}
